*{padding: 0;margin: 0}
body{
    width: 100%;
    height:630px;
    overflow: hidden;
}
.container{
    width: 100%;
    height: 100%;
    background-color:#333;
    position: relative;
    perspective: 500px;
    overflow: hidden;
}


.img_show{
    width: 330px;
    height: 390px;
    overflow: hidden;
padding: 15px;
    background-color: #eee;
border-radius: 5px;
    box-shadow: 1px 1px 18px;
    transition: .5s;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -160px;
    margin-top: -210px;
}

.selecting{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -160px;
    margin-top: -210px;
transform: scale(0.95);
    z-index: 999;

}

.pic_front{
backface-visibility: hidden;
transition: 1s;

    position: absolute;
    left: 10px;
    top:10px;

}
.pic_front>img{
    width: 310px;
    height: 340px;
}
.pic_front p.title{
    text-align: center;
    line-height: 40px;
    font-size: 20px;
    color: #666;
}
.pic_back{
    backface-visibility: hidden;
    position: absolute;
    overflow: hidden;

    word-wrap: break-word;
    width: 300px;
    height: 384px;
transform: rotateY(180deg);
    transition: 1s;
}
.pic_back>p{

    color: #777;
    font-size: 20px;
    margin: 8px 5px;

}
.pic_back>p.name{
    margin: 20px 0 0 0;
}

/*导航部分*/
.navbar{
    position: fixed;
    width: auto;
    z-index: 10000;
    top: 88%;
   height: 35px;
}
.navbar>span{
    cursor: pointer;
    width: 25px;
display: inline-block;
    border-radius: 50%;
    background-color: white;
    height: 25px;
    margin: 0 5px;
    border: 1px solid #999;
    text-align: center;
    line-height: 25px;
    position: relative;
}

.navbar>span>span{
    left: 5px;
    top: 5px;
position: absolute;
color: red;
    display: none;
}

.active{
    transform: scale(1.8);


}